
/*დაულაგებელი სია */
ul{
    list-style: georgian inside none;
    /*პირველ რიგში ვწერთ რა ტიპის უნდა იყოს,როგროი მაგალითად ოთხკუთხედი და ასე შემდეგ  მეორედ იწერება ელემენტთან ერთად უნდა იყოს ეს ნუმერაცია თუ არა და მესამე ამატებს ფოტოს მაგრამ არ არის რეკომენდირებული */
    text-align: center;  
}
/*დალაგებული სია */
ol{
    list-style: upper-roman inside none;
    text-align: center;
}