@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    font-family: Pacifico ;
    font-weight: 100;
}
#hederp,h1 {
    text-align: center;}
body {
    background-image:url(background\ photo.jpg) ;}
#hederp,h1{
    color:white
}
.mainp{
    color:white
}
div{
    display:flex
}
img{
    width:300px;
    margin:3px;   
}
#complex {
    width:700px;

}
footer{
    display:flex
}