.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{background-color:rgb(15, 14, 14)}
.maindiv{
    height:640px;
    width:400px;
    background-color: rgb(36, 36, 36);
    color:white;
    border-radius:17px;

    text-align:center;
    justify-content: center;
    align-items:center;
}
button{
    width:80%;
    padding:10px;
    margin:5px;
    background-color: rgb(56, 56, 56);
    border-radius:8px;
    color:white;
}
.profilepicture{
    height:100px;
    width:25%;
    border-radius:60%;
    background-image: url("assets/images/avatar-jessica.jpg");
    margin-left:150px;
}
#undername{
    color:yellow;
}
button:hover{
    transform: scale(1.05);
    transition: transform 30ms ;
}