* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.parent {

}


img {
    width: 70px;
}

.red-circle {
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 700px;
    bottom: 360px;
}