body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.city{
    height:900px;
    width:900px;
    border:none;
    background-color: none;
   
}
div{
    background-color: white;
    border:3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3px;

}
.x{
    background-color: brown ;
}
